# Copier ce fichier en secrets.toml et mettre le mot de passe ANALYST_READER_PASSWORD du .env
[connections.checkit_db]
dialect = "postgresql"
driver = "psycopg2"
host = "localhost"
port = "5433"
database = "checkit"
username = "analyst_reader"
password = "a_remplacer"
